<section>
  <h2>ЧЛЕНСТВО</h2>
  <div id='membership' class='container mat-elevation-z3'>
    <div>
      <p>Наша Библиотека инструментов- 100% -ная работа добровольца.&nbsp; Годовые членские взносы оплачивают арендную плату, страхование, обслуживание инструмента и случайные покупки, чтобы добавить инструменты высокой потребности в нашу коллекцию.&nbsp; Мы предлагаем ряд предлагаемых пожертвований для членства, чтобы гарантировать, что Библиотека инструментов может работать на вас!&nbsp; Стать участником нашей библиотеки инструментов легко! Любой, кто старше 18 лет, имеет право стать участником.&nbsp; Мы предлагаем вам несколько вариантов членства.&nbsp; Членство дает вам доступ к любому из наших инструментов, книг или учебных видеороликов в течение недели за раз.&nbsp; Кроме того, вы можете, как правило, продлевать свой предмет на дополнительное время, если никто его не ждет!</p>
    </div>
    <div>
      <h3>Три простых способа присоединиться</h3>
      <ul>
        <li>Онлайн: это так же просто, как внести свой членский взнос через PayPal! PayPal — более безопасный и простой способ оплаты через Интернет</li>
        <li>Вы можете прийти к нам по адресу Барановичи ул Марата Казея 28 в рабочие часы. &nbsp;Пожалуйста, см. Домашнюю страницу наших часов работы.</li>
        <li>Вы можете сделать подарок своим родным или близким: Подарите членство- купите привлекательный подарочный сертификат членства в библиотеке инструментов для счастливого друга или члена семьи.
        </li>
        <li>
          Вы также можете отправить нам электронное письмо, чтобы отправить его по местному адресу.
        </li>
      </ul>
    </div>
    <div id='membership-cost'>
      <h3 class='membership-cost'>Стоимость членства в год:</h3>
      <div class="tabs">
        <input type="radio" name="tabs" id="tab1" checked="checked">
        <label for="tab1">25 BYN</label>
        <div class="tab">
          <h4>Членство для людей с низким доходом: 25 BYN в год</h4>
          <p>Хотите присоединиться к Библиотеке инструментов, но не можете позволить себе пожертвование на уровне низкого дохода?&nbsp; Пожалуйста, не позволяйте этому останавливать вас от остановки, чтобы присоединиться к библиотеке инструментов!&nbsp; Благодаря щедрой поддержке других участников библиотеки инструментов мы сможем зарегистрировать вас в качестве участника независимо от вашей способности пожертвовать!</p>
        </div>
        <input type="radio" name="tabs" id="tab2">
        <label for="tab2">35 BYN</label>
        <div class="tab">
          <h4>Студент / старший членство: 35 BYN в год</h4>
          <p>Если вам больше 65 лет или поступил в качестве студента, покажите нам лицензию или школьную карточку водителя и получите льготное членство!</p>
        </div>
        <input type="radio" name="tabs" id="tab3">
        <label for="tab3">50 BYN</label>
        <div class="tab">
          <h4>Индивидуальное членство: 50 BYN в год</h4>
          <p>Это наше стандартное членство.&nbsp; Помимо доступа к нашей обширной библиотеке инструментов, участники приглашаются на мероприятия сообщества и для всей семьи в течение всего года!
          </p>
        </div>
        <input type="radio" name="tabs" id="tab4">
        <label for="tab4">100 BYN</label>
        <div class="tab">
          <h4>Buy-One, Give-One Членство: 100 BYN в год</h4>
          <p>Членство в BoGo дает покупателю право на все удобства индивидуального членства, а также позволяет Библиотеке инструментов Барановичи предоставлять полностью субсидированное членство тому, кто не может себе этого позволить!</p>
        </div>
        <input type="radio" name="tabs" id="tab5">
        <label for="tab5">Договорная</label>
        <div class="tab">
          <h4>Членство для фирм и организаций</h4>
          <p>Хотите организовать проект “сделай сам” с вашим персоналом, но у вас нет инструментов?&nbsp; Вам нужна лопата один раз в год, чтобы очистить слив, но не хотите хранить ее в офисе?&nbsp; Членство в организации БИБ- идеальное решение! Организация Членские расходы основаны на размере и потребностях вашей организации.&nbsp; Пожалуйста, напишите нам на <span (click)='openMessage()' style='cursor:pointer'>TLBaranovichy@tut.by</span> для получения дополнительной информации.</p>
        </div>
      </div>
    </div>
    <div>
      <h3>Как Начать пользоваться инструментами библиотеки?</h3>
      <p>Принесите квитанцию ​​о получении, подарочный сертификат или письмо с подтверждением PayPal в библиотеку инструментов в течение наших открытых часов.&nbsp; Также принесите почтовый конверт с подтверждением вашего текущего адреса.&nbsp; Мы поможем вам заполнить нашу короткую форму членства и создать для вас свою учетную запись онлайн-членства!&nbsp; Мы предоставим формы членства, но если вы предпочитаете печатать и заполнять форму заявки до приезда, вы можете найти ее здесь: <a href="#" class='href'>Форма участия БИБ</a></p>
    </div>
    <div>
      <h3>Примечания к членству</h3>
      <p>Членские взносы на 100% не подлежат налогообложению!&nbsp; Членство в БИБ недействительно в других библиотеках инструментовБеларуси.&nbsp; Депозиты (залог) могут потребоваться для некоторых инструментов, чтобы стимулировать их быстрое возвращение.&nbsp; Для инструментов, требующих поставок, предоставляемых библиотекой инструментов, могут потребоваться также поздние сборы и плата за обслуживание.&nbsp; Вопросы о членстве?</p>
      <span (click)='openMessage()' class='href align'>Пожалуйста, не стесняйтесь обращаться к нам по адресу TLBaranovichy@tut.by</span>
    </div>
  </div>
</section>
