a {
    color: #a71d1d;
    opacity: 0.9;
}
a:hover {
    opacity: 1;
}
.href {
    cursor: pointer;
    color: #a71d1d;
    opacity: 0.9;
}
.href:hover {
    opacity: 1
}

#membership>div {
    padding: 10px 20px 30px;
    overflow: hidden;
}

/* membership */
#membership {
    letter-spacing: 0;
}

#membership ul {
    list-style: decimal;
}

#membership>div:nth-child(odd) {
    background: #fff;
}

#membership>div:nth-child(even) {
    box-shadow: -1px 5px 10px -4px rgba(0, 0, 0, 0.75);
    background: #eee;
}

#membership p {
    text-indent: 20px;
}

.tabs p {
    text-indent: 0!important;
    color: #fff!important;
}

.tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tabs label {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #eee;
    font-weight: bold;
    -webkit-transition: background ease 0.2s;
    transition: background ease 0.2s;
}

.tabs .tab {
    -webkit-box-ordinal-group: 100;
    -ms-flex-order: 99;
    order: 99;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    color: #fff;
    background: #4e4e4e;
    box-shadow: -1px 5px 10px -4px rgba(0, 0, 0, 0.75);
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    background: #ffdb4d;
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
}

.membership-cost,
.tabs h4 {
    text-align: left
}

.align {
    display: block;
    margin: 0 auto;
    max-width: 600px;
}

@media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
        -webkit-box-ordinal-group: NaN;
        -ms-flex-order: initial;
        order: initial;
    }

    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}