<section>
  <h2>НАША ИСТОРИЯ</h2>
  <div id='history' class="container">
    <div>
      <p>История БИ Барановичи – это история развития sharing movement (движение по развитию экономики совместного потребления) в нашем городе.</p>
      <ul>
        <li>В 2013 году была проведена первая Бесплатная ярмарка. </li>
        <li>2014 году начало свое существование волонтерское движение. </li>
        <li>В сентябре 2015 года была проведена первая организационная встреча проекта БИ Барановичи.</li>
        <li>Библиотека инструментов позволяет участникам брать инструменты, оборудование, и книги (руководства) в течение определенного периода времени, как правило, бесплатно. библиотеки инструментов -это целое сообщество единомышленников в области "Сделай сам".</li>
      </ul>
    </div>
  </div>
</section>
