.img-picker {
	display: flex;
	flex-flow: wrap row;
	justifu-content: flex-start;
	align-items: center;
}

img {
	width: 100px;
	height: 100px;
}

.img-button {
	background-color: transparent;
	z-index: 999;
	cursor: pointer;
	border: 0;
	width: 140px;
	height: 140px;
}
