<footer>
  <div class='adress'>
    <p>Барановичская библиотека инструментов,
      <br> Марата Казея, 28, Барановичи 225406 BLR</p>
    <div class='dialogs'>
      <button md-button class='message mat-elevation-z3' (click)="openSubscription()">Подпиcка на новоcти <i class="fa fa-pencil" aria-hidden="true"></i></button>
      <button md-button class='message mat-elevation-z3' (click)="openMessage()">Оставить сообщение <i class="fa fa-envelope-o" aria-hidden="true"></i></button>
    </div>
  </div>
</footer>
