<div class='unicorn-dark-theme' style='background-color: #323941'>
  <mat-toolbar color="primary" class='mat-elevation-z6'>
    <a (click)='openLogin()' class='logo-href'>
    <img width="72.5" height="50" src="assets/img/BTLlogo.png" class="custom-logo" alt="Библиотека инструментов" itemprop="logo">
    </a>
    <div class='hide-large'>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        <span class='menu-label'>МЕНЮ</span>
      </button>
      <mat-menu #menu="matMenu">
        <a routerLink="/home" mat-menu-item>главная</a>
        <a routerLink="/news" mat-menu-item>новости</a>
        <a target='_blank'  rel="noopener" href='https://toolslibrarybaranovichy.myturn.com/library/inventory/browse' mat-menu-item>склад / вход</a>
        <a routerLink="/membership" mat-menu-item>членство</a>
        <a routerLink="/history" mat-menu-item>наша история</a>
        <a routerLink="/friends" mat-menu-item>друзья</a>
        <a routerLink="/help" mat-menu-item>как нам помочь</a>
      </mat-menu>
    </div>
    <div class='hide-small'>
      <a routerLink="/home" mat-button routerLinkActive="is-active">ГЛАВНАЯ</a>
      <a 
        routerLink="/news" mat-button 
        routerLinkActive="is-active">
        НОВОСТИ
      </a>
      <a target='_blank'  rel="noopener" href='https://toolslibrarybaranovichy.myturn.com/library/inventory/browse' mat-button>СКЛАД / ВХОД</a>
      <a routerLink="/membership" mat-button routerLinkActive="is-active">ЧЛЕНСТВО</a>
      <a routerLink="/history" mat-button routerLinkActive="is-active">НАША ИСТОРИЯ</a>
      <a routerLink="/friends" mat-button routerLinkActive="is-active">ДРУЗЬЯ</a>
      <a routerLink="/help" mat-button routerLinkActive="is-active">КАК НАМ ПОМОЧЬ</a>
    </div>
    <span class='separator'></span>
    <a href='https://vk.com/toolslibrary' target='_blank'  rel="noopener" mat-icon-button>
        <span  matTooltip='В Контакте'>
          <i class="fa fa-vk" aria-hidden="true"></i>
        </span>
    </a>
    <a href='https://facebook.com/groups/toolslibrarybaranovichy' target='_blank'  rel="noopener" mat-icon-button>
      <span  matTooltip='Фэйсбук'>
         <i class="fa fa-facebook" aria-hidden="true"></i>
      </span>
    </a>
    <a href='https://twitter.com/TLBaranovichy' target='_blank'  rel="noopener" mat-icon-button>
       <span  matTooltip='Твиттер'>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </span>
    </a>
    <a href='https://www.instagram.com/toolslibrary/' target='_blank'  rel="noopener" mat-icon-button>
       <span  matTooltip='Инстаграм'>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </span>
    </a>
  </mat-toolbar>
</div>
