<section>
  <h2>ПАМЯТКА</h2>
  <div class="container mat-elevation-z3 friends-edit">
    <md-card>
      <h3>Загрузки</h3> Загрузки удобно смотреть при открытом окне "удаление файлов". Будьте аккуратны, т.к при клике на картинку она удалиться из загрузок.
    </md-card>
    <md-card>
      <h3>Приоритет</h3> Сортировка новостей событий и друзей осуществляется по Приоритету. Чем ниже приоритет, тем выше в списке новость или статья. Приоритет может принимать отрицательное значение. Например: Приоритет -9999; Если во время редактирования новость не стала выше по приоритету, то возможно просто надо обновить страницу в редакторе.
    </md-card>
    <md-card>
      <h3>Подзаголовок</h3> Для дополнительной информации.
    </md-card>
    <md-card>
      <h3>Аватар и картики</h3> Все аватарки лучше всего использовать одного размера (На примере 58 X 40). Картинки минимально 250px - максимально 500px. Максимальный размер не более 500 кb.
    </md-card>
    <md-card>
      <h3>Текст</h3> Для 'приемлемого' отображения текст должен быть не менее чем из 200 символов. При коротком тексте и маленькой картинке может съехать сетка.
    </md-card>
  </div>
</section>
