.container {
	border-radius: 0;
	background-color: transparent;
}

#admin-menu {
	position: absolute;
	top: 60px; 
	right: 0;
	z-index: 999;
	color: #fff;
	width: 100px
}

.md-icon-button {
	width: 50px;
}