.container {
	border-radius: 0;
	background-color: transparent;
}

#admin-menu {
	position: absolute;
	right: 0;
	z-index: 999;
	color: #fff;
}

.menu {
	padding-top: 10px;
}

.md-icon-button {
	width: 50px;
}

.mat-button {
	padding-left: 10px;
}

.switch {
	padding: 0 20px 12px 18px;
	height: 30px;
}

.switch-button {
	padding-left:10px;
}
