<section>
  <h2>НАШИ ДРУЗЬЯ</h2>
  <div class="container mat-elevation-z3" >
     <div id="friends">
      <div class="gallery-grids">
        <div class="gallery-top">
          <div class="effect-bubba">
            <img src="../../../../assets/img/FreeMarket.jpg" alt="" class="img-responsive">
            <div class='figcaption'>
              <h4>Отдам даром<br>Барановичи</h4>
            </div>
          </div>
        </div>
        <div class="gallery-top">
          <div class="effect-bubba">
            <img src="../../../../assets/img/Center2.jpg" alt="" class="img-responsive">
            <div class='figcaption'>
              <h4>Центр<br>эко-решений</h4>
            </div>
          </div>
        </div>
        <div class="gallery-top">
          <div class="effect-bubba">
            <img src="../../../../assets/img/Falanster.jpg" alt="" class="img-responsive">
            <div class='figcaption'>
              <h4>Фаланстер</h4>
            </div>
          </div>
        </div>
        <div class="gallery-top">
          <div class="effect-bubba">
            <img src="../../../../assets/img/talaka.jpg" alt="" class="img-responsive">
            <div class='figcaption'>
              <h4>Талака</h4>
            </div>
          </div>
        </div>
        <div class="gallery-top">
          <div class="effect-bubba">
            <img src="../../../../assets/img/Falanster.jpg" alt="" class="img-responsive">
            <div class='figcaption'>
              <h4>Фаланстер</h4>
            </div>
          </div>
        </div>
        <div class="gallery-top">
          <div class="effect-bubba">
            <img src="../../../../assets/img/talaka.jpg" alt="" class="img-responsive">
            <div class='figcaption'>
              <h4>Талака</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
