<div class="container unicorn-dark-theme" id='admin-menu' style='position'>
	<div class='admin-wrapper'>
      <button md-button [mdMenuTriggerFor]="menuAdmin">
      	 <md-icon>more_vert</md-icon>
      	 <span class='menu-label'>Админ </span>
      </button>
      <md-menu #menuAdmin="mdMenu" class='menu'>
        <a routerLink="/upload-edit" md-menu-item>загрузки</a>
        <a routerLink="/meetings-edit" md-menu-item>события</a>
        <a routerLink="/news-edit" md-menu-item>новости</a>
        <a routerLink="/friends-edit" md-menu-item>друзья</a>
        <a routerLink="/instruction" md-menu-item>памятка</a>
        <button  md-menu-item (click)='logOut()'>выйти</button>
       </md-menu>
    </div>
</div>