.example-container {
  right: 0;
  bottom: 0;	
  position: absolute;	
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  // align-self: center;
}

.mat-header-row, .mat-row {
	min-height: 37px;
	padding: 0 10px;
}
.mat-table {
  overflow: auto;
}

@media (max-width: 600px){
  .example-container {
    position: relative;
  }
}