<div class='edit-container'>
  <span class='img-wrapper'>
  <img *ngIf='url == undefined' src="assets/img/no_image.jpg" style='max-width: 200px' alt="">
  <img *ngIf='url !== undefined' src="{{url}}" alt="" style='max-width: 160px; padding:20px;'>
  </span>
  <div class='edit-form'>
    <p>Картинка : {{name}}</p>
    <form class="form" [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput type='number' placeholder="Приоритет" [(ngModel)]='order' formControlName="order" requred minlength="1">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Заголовок" [(ngModel)]='title' formControlName="title" requred minlength="3">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Cсылка на друга" [(ngModel)]='link' formControlName="link" requred minlength="3">
      </mat-form-field>
      <mat-form-field class="full-width" hidden>
        <input matInput placeholder="Имя" [(ngModel)]='name' formControlName="name" requred minlength="3">
      </mat-form-field>
      <mat-form-field class="full-width" hidden>
        <input matInput placeholder="Ссылка" [(ngModel)]='url' formControlName="url" requred minlength="3">
      </mat-form-field>
      <div class='align-sm'>
        <button mat-button class='btn' (click)='openImgPicker()'>Добавить картинку</button>
        <button mat-button class='btn' type="submit" [disabled]="form.invalid" (click)='send()'>Сохранить</button>
      </div>
      </form>
  </div>
</div>
