.info {
	position: relative;
  margin: -20px;
}


.email-message {
  background-color: rgb(255, 219, 77);
  box-shadow: 1px 1px 5px #8a7e7e;
  color: black;
  position: absolute;
  top: 37%;
  left: 49%;
  transform: translate(-50%, -50%);
}

@media (max-width: 400px) {
   .info {
    overflow: hidden
   }
}

